$bg: white;
$primary: #00a8a9;

html, body {height: 100%;}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: darken($bg, 20%);
}
.btn {
  position: absolute;
  right: 0px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  background: $primary;
  color: white;
  font-size: 42px;
  border: solid 3px darken($primary, 10%);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba($primary, 0.5);
  outline: none;
  transition: all 200ms;
  animation: pulsebtn 2s infinite;
}
.btn:hover {
  background: darken($primary, 10%);
  border: solid 3px darken($primary, 20%);
}
@keyframes pulsebtn {
  70% {box-shadow: 0 0 0 50px rgba($primary, 0);}
  100% {box-shadow: 0 0 0 0 rgba($primary, 0);}
}
@keyframes breathe {
  0% {transform: scale(.85);}
  70% {transform: scale(1);}
  100% {transform: scale(.85);}
}